<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1 class="jumbotron-heading">Your booking is confirmed and a confirmation notification has been sent to your Whatsapp!</h1>

    <div class="card-body">

        <p class="card-text">Booking Number: </p>
        <h2 id="bookingNum"></h2>
        <img src="../assets/images/house.jpg">

    <td><button id="cancelBtn" type="button">Return to <a href='index.html'>Home Page</a></button></td>


</body>

<script>
    var bookingNum = sessionStorage.getItem("bookingNum")
    console.log(bookingNum)
    document.getElementById("bookingNum").innerText=bookingNum
</script>
</html>