<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1 class="jumbotron-heading">Your booking is {{payment.status}}!</h1>

    <div class="card-body">

        <p class="card-text">Transaction Date: {{payment.tDate}}</p>
        <p class="card-text">Transaction Date: {{payment.paidAmount}}</p>
        <img src="../assets/images/house.jpg">

</body>
</html>